{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!-- Pick date -->
    <link rel="stylesheet" href="{% static './vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static './vendor/pickadate/themes/default.date.css' %}">
    <link rel="stylesheet" href="{% static './vendor/sweetalert2/dist/sweetalert2.min.css' %}" >


{% endblock head %}

{% block content %}
    <div class="card">
        <div class="card-header d-sm-flex d-block">
            <div class="mr-auto mb-sm-0 mb-3">
                <h4 class="card-title mb-2">Voucher Pool</h4>
            </div>
            <div>

            </div>
            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newVoucherModal"><i class="fa fa-plus mr-2"></i>  Generate Voucher</button>
            <!-- Modal -->
            <div class="modal fade" id="newVoucherModal">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Generate Voucher</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal">
                            </button>
                        </div>
                        <form method="POST" action="{% url 'generate_voucher' %}">
                            <div class="modal-body">
                                <div class="basic-form">

                                    {% csrf_token %}
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="customer_id" required>
                                          <option selected>Select customer</option>
                                            {% for customer in customers %}
                                                <option value="{{ customer.pk }}">{{ customer.name }} - {{ customer.email }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="offer_id" required>
                                          <option selected>Select offer</option>
                                            {% for offer in offers %}
                                                <option value="{{ offer.pk }}">{{ offer.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input name="expiry_date" class="datepicker-default form-control" placeholder="Expiry date" id="datepicker">


                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Generate Voucher</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">

            <div class="col-12 d-flex justify-content-end mb-3">
                <form method="GET">
                    <div class="input-group ">
                        <input type="text" class="form-control" name="email" placeholder="Search by email" style="height: 40px;" value="{{request.GET.email}}">
                        <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-responsive-md" >
                    <thead>
                        <tr>
                            <th>CODE</th>
                            <th>IS USED</th>
                            <th>EMAIL</th>
                            <th>USED AT</th>
                            <th>EXPIRY</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for voucher in vouchers %}
                        <tr>
                            <td>{{ voucher.code }}</td>
                            <td>

                                    {% if voucher.is_used %}
                                        <span class="badge light badge-success">
                                            <i class="fa fa-check text-success me-1"></i>Used
                                        </span>
                                    {% else %}
                                        <span class="badge light badge-warning">
                                            <i class="fa fa-times text-warning me-1"></i>Not Used
                                        </span>
                                    {% endif %}


                            </td>
                            <td><a href="{% url 'vouchers_list' %}?email={{ voucher.customer.email }}">{{ voucher.customer.email }}</a></td>
                            <td>{{ voucher.used_date|date:'Y-m-d' }}</td>
                            <td>{{ voucher.expire_date|date:'Y-m-d' }}</td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
            <div class="row ">
                <div class="col-12 d-flex align-items-center justify-content-between">
                    {% if vouchers %}
                        <div class="">Showing {{ vouchers|length }} of {{ vouchers.paginator.count }} vouchers</div>

                        <ul class="pagination pagination mb-0">

                        {% if vouchers.has_previous and vouchers.previous_page_number != 1 %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page=1"><i class="fa fa-angle-double-left"></i></a>
                            </li>
                        {% endif %}

                        {% if vouchers.has_previous %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page={{ vouchers.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                            </li>
                        {% endif %}

                        {% for page in custom_range %}
                            <li class="page-item {% if page == vouchers.number %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}


                        {% if vouchers.has_next %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page={{ vouchers.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                            </li>
                        {% endif %}

                        {% if vouchers.has_next and vouchers.next_page_number != vouchers.paginator.num_pages %}
                            <li class="page-item page-indicator">
                                <a class="page-link" href="?page={{ vouchers.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a>
                            </li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block vendors %}

    <!-- pickdate -->
    <script src="{% static './vendor/pickadate/picker.js' %}"></script>
    <script src="{% static './vendor/pickadate/picker.time.js' %}"></script>
    <script src="{% static './vendor/pickadate/picker.date.js' %}"></script>


    <!-- Pickdate -->
    <script src="{% static './js/plugins-init/pickadate-init.js' %}"></script>

    <script src="{% static './vendor/sweetalert2/dist/sweetalert2.min.js' %}"></script>

    {% if messages %}
        <script>
            // Handle Messages
            $(document).ready(function () {
                {% for message in messages %}
                    swal({
                        title: "SUCCESS!",
                        text: "{{ message }}",
                        type: "success",
                        showConfirmButton: 1
                    });
                {% endfor %}
            });
        </script>
     {% endif %}

{% endblock vendors %}