{% load static %}
<!--**********************************
    Nav header start
***********************************-->
<div class="nav-header">
    <a href="/" class="brand-logo">
        <span class="text-capitalize text-primary">VOUCHER POOL</span>
    </a>
</div>
<!--**********************************
    Nav header end
***********************************-->


<!--**********************************
    Header start
***********************************-->
<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">

                </div>
                <ul class="navbar-nav header-right main-notification">
                    <li class="nav-item dropdown header-profile">
                        <a href="{% url 'logout' %}" class="dropdown-item ai-icon">
                                <span class="ml-2"><i class="fa fa-power-off text-danger me-2"></i>LOGOUT </span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!--**********************************
    Header end ti-comment-alt
***********************************-->